<!doctype html>
<!-- add direction (rtl/ltr) to html, its very important -->
<!-- html dir change the arya bootstrap alignment and direction -->
<html lang="fa" dir="rtl">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KWJ28HLX');</script>
<!-- End Google Tag Manager -->
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.rtl.css" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />

<title>چاره جو</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWJ28HLX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="container-fluid">
    <a href=""><img src="/static/images/logo.png" class="img-fluid" width="300" style="padding: 35px;" alt="چاره جو"><br /><br /><br /></a>
</div>

<!-- Header -->
<section>

   <div class="container text-center">
       <div class="row">
           <div class="col-3" style="color: #3B5CCE;"><img src="/static/images/number1.png" /><b>ارزیابی</b></div>
           <div class="col-3"><img src="/static/images/number2.png" /><b>ثبت نام</b></div>
           <div class="col-3"><img src="/static/images/number3.png" /><b>کارنامه</b></div>
           <div class="col-3"><img src="/static/images/number4.png" /><b>نقشه راه</b></div>
        </div>
            <br />
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                </div>
            </div>
            <br />

   </div>

</section>

<!-- Discovery question -->
<section>
    <br /><br />
    <div class="container">

    <p><img src="https://www.freeiconspng.com/uploads/sign-warning-icon-png-7.png" width=35" /> دقت داشته باشید که برخی از سوالات ممکن است بیش از یک پاسخ صحیح داشته باشد.</p>
        </div>

    <br /><br /><br />

    <div class="container text-center" style="background-color: #FBFBFB">
       <strong> توسعه و راه اندازی (Develop and Launch)</strong>
    </div>
    <div class="container" style="background-color: #FBFBFB">
        <br /><br />
        <p style="color: #414141">سوال۱</p>
        <p style="color: #3B5CCE">حدود 40 درصد از نظرات کاربران در دیجی کالا جعلی و غیر واقعی (فیک) است برای شناسایی نظرات جعلی به عنوان یک مدیر محصول کدام یک ازراه حل های زیر را صحیح می دانید؟</p>
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Real-time" name="Real-time" value="something">
  <label class="form-check-label"><b>سیستم ارزیابی ورودی بهبود یافته:</b> بهبود سیستم ارزیابی ورودی با یک سیستم قوی و پیشرفته‌تر، راه اندازی شود. این ممکن است شامل بهره‌گیری از الگوریتم‌های پیشرفته، یادگیری ماشین و تکنیک‌های پردازش زبان طبیعی برای تشخیص و فیلتر کردن نقدهای مجعول باشد. </label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label"><b>مکانیزم گزارش‌دهی توسط کاربران:</b> کاربران واقعی را تشویق و توانمند کنید تا نقدهای مشکوک یا مجعول را گزارش دهند. یک مکانیزم گزارش‌دهی ساده و کاربرپسند را پیاده‌سازی کنید که به مشتریان امکان می‌دهد نقدهایی که معتقدند مجعول هستند را مشخص کنند. این شامل افزودن یک دکمه "گزارش به عنوان مجعول" در کنار هر نقد است . </label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Locate" name="Locate" value="something">
  <label class="form-check-label"><b>فرایندهای تأیید فروشندگان قوی‌تر:</b> فرایند تأیید فروشندگان و محصولاتشان را تقویت کنید. الزامات سخت‌گیرانه‌تری را برای فروشندگان برای برقراری اعتبار و تضمین صحت محصولاتشان پیاده‌سازی کنید. این می‌تواند شامل انجام بررسی‌های پشتیبانی بیشتر، تأیید لایسنس کسب و کار و اجرای اقدامات سختی در کنترل کیفیت باشد. </label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Bike" name="Bike" value="something">
  <label class="form-check-label"><b>حذف تصادفی نظرات:</b> رویکردی که بدون تأیید و بررسی مناسب، به صورت تصادفی نظرات را حذف کند، نادرست است. این می‌تواند منجر به حذف نظرات واقعی شود و باعث ناراحتی مشتریان شده و ممکن است باورپذیری پلتفرم را تضعیف کند. </label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Unlocking" name="Unlocking" value="something">
  <label class="form-check-label"><b>اتکا فقط بر روی گزارش کاربران:</b> استراتژی ناکارآمد استفاده انحصاری از گزارش‌های کاربران برای شناسایی و حذف نظرات جعلی است. در حالی که گزارش کاربران می‌تواند ابزاری ارزشمند باشد، باید تنها روش شناسایی نظرات جعلی نباشد.  یک راه‌حل جامع باید شامل ترکیبی از گزارش کاربران و سیستم‌های خودکار قوی باشد.</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Deposit" name="Deposit" value="something">
  <label class="form-check-label"><b>پیاده‌سازی سیستم پرداخت برای نظردهی:</b> رویکرد نادرستی است که سیستمی را معرفی کند که مشتریان برای نظردهی پاداش مالی یا جوایزی دریافت کنند.  چنین سیستمی ممکن است باعث افزایش نظرات جعلی شود زیرا افراد ممکن است با هدف به دست آوردن پاداش‌ها، نظراتی تعصبی یا نادرست ارسال کنند.</label>
</div><br />
         <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Deposit" name="Deposit" value="something">
  <label class="form-check-label"><b>فقط فیلتر کردن نظرات منفی:</b> رویکرد ناکافی است که فقط نظرات منفی را به فیلتر بگذارد در این فرض که آنها احتمالاً جعلی‌تر هستند.  این رویکرد باعث ایجاد یک برهمنشینی نامتعادل در سیستم نظردهی می‌شود که اهمیت ارائه نظرات صادقانه و بی‌طرف را تحت تأثیر قرار می‌دهد.</label>
</div>
         <br /><br />
        <p style="color: #414141">سوال۲</p>
        <p style="color: #3B5CCE">بین نمایش تبلیغات بیشتر در اخبار متا (فیس بوک) در مقابل نمایش ویجت توصیه "افرادی که ممکن است بشناسید" کدام جنبه ها اهمیت بیشتری برای بررسی دارند؟</p>
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label"><b>تجربه کاربری و درگیری کاربر:</b> اولویت بندی تجربه کاربری مثبت بسیار مهم است. نمایش تعداد زیادی تبلیغ می‌تواند منجر به نارضایتی کاربران، کاهش درگیری و به طور پتانسیلی تأثیری بر رضایت کاربران داشته باشد. </label>
</div><br />
         <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label"><b>ارتباط و کیفیت تبلیغات:</b> حفظ تعادل بین بهره‌برداری مالی و حفظ ارتباط و کیفیت تبلیغات بسیار مهم است. بارگذاری بیش از حد تبلیغات در Newsfeed ممکن است منجر به کاهش کیفیت تبلیغات، کاهش درگیری کاربران و در برخی موارد تضرر از زمینه تبلیغاتی کلی شود. </label>
</div><br />

         <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label"><b>تولید درآمد:</b>  لازم است تأثیر محتمله از نمایش تعداد بیشتری تبلیغ در مقابل ترویج ویجت "اشخاصی که ممکن است بشناسید" مورد ارزیابی قرار گیرد. تجزیه و تحلیل قابلیت کسب درآمد، هزینه در هر نمایش، نرخ کلیک و بازدهی کلی از هر دو گزینه می‌تواند راهنمای فرآیند تصمیم‌گیری باشد.</label>
</div><br />

         <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label"><b>حریم خصوصی و اعتماد کاربر:</b> حفظ حریم خصوصی و اعتماد کاربر بسیار مهم است. برقراری تعادل بین تکرار تبلیغات و مسائل حریم خصوصی کاربران برای جلوگیری از آزار کاربران و تأمین حریم خصوصی مناسب بسیار حائز اهمیت است. ارائه پیشنهادات معنادار در ویجت "اشخاصی که ممکن است بشناسید" می‌تواند اعتماد کاربران را تقویت کرده و بهبود نگرش کلی نسبت به پلتفرم را به ارمغان آورد.</label>
</div><br />

         <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label"><b>هدف و ارزش‌های پلتفرم:</b> در نظر گرفتن چشم‌انداز و اهداف بلندمدت پلتفرم بسیار حائز اهمیت است. درک اینکه آیا تمرکز اصلی بر بهره‌برداری از درآمد کوتاه‌مدت است یا بر ایجاد درگیری و اعتماد کاربران پایدار تأثیر خواهد گذاشت می‌تواند تصمیم‌گیری را تحت تأثیر قرار دهد. موفقیت پلتفرم در همگام‌سازی بین تولید درآمد و رضایت کاربران با ارزش‌های Meta مطابقت دارد.</label>
</div><br />

         <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label"><b>بازخورد کاربران و تجزیه و تحلیل داده‌ها:</b> انجام تحقیقات کاربری، جمع‌آوری بازخورد کاربران و تجزیه و تحلیل داده‌های مرتبط می‌تواند نقشی بسیار مهم داشته باشد. درک ترجیحات کاربران، الگوهای درگیری و نگرش کلی آنها نسبت به تبلیغات و پیشنهادات راهنمایی‌کننده در فرآیند تصمیم‌گیری و اولویت‌بندی خواهد بود.</label>
</div><br />

         <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label"><b>بهره‌برداری مالی کوتاه‌مدت:</b> انتخاب برای بهره‌برداری از عایدات مالی کوتاه‌مدت با تمرکز بر تبلیغات در Newsfeed بدون در نظر گرفتن پیامدهای بلندمدت بر تجربه کاربری و سلامت پلتفرم. فداکاری از رضایت و درگیری بلندمدت کاربران به خاطر بهره‌برداری مالی فوری ممکن است منجر به کاهش اعتماد کاربران و در نهایت تضرر از موفقیت پلتفرم شود.</label>
</div>


         <br /><br />
        <p style="color: #414141">سوال۳</p>
        <p style="color: #3B5CCE">به عنوان یک برنامه اجتماعی، ما در کشور جدیدی راه اندازی شده ایم، اما پس از 6 ماه ظاهر شد، درخواست های دوست 10٪ کاهش یافته است. درست ترین مواردی را که  باید ارزیابی کنیم کدامیک از موارد زیر است؟</p>
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Privacy Concerns | نگرانی های حریم خصوصی</label>
</div><br />

        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Privacy Concerns | دغدهای امنیتی</label>
</div><br />

        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">User Interface Changes | تغییرات رابط کاربری </label>
</div><br />

        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Seasonal Variation | تغییرات فصلی</label>
</div><br />

        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Technical Glitch | نقص های فنی</label>
</div><br />

        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Lack of New Users | کمبود کاربران جدید</label>
</div><br />

        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Lack of Marketing | نبود فعالیت های بازاریابی</label>
</div><br />

         <br /><br />
        <p style="color: #414141">سوال۴</p>
        <p style="color: #3B5CCE">اصلی ترین متریک ها برای فیچر جستجوی آپارات کدام گزینه ها است؟</p>
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Search Impressions </label>
</div><br />

        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Click-through Rate | نرخ کلیلک</label>
</div><br />

        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Watch Time | مدت زمان تماشای یک ویدیو</label>
</div><br />

        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Average View Duration | متوسط زمان نمایش</label>
</div><br />

        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Video Completion Rate | نسبت اتمام ویدیو یا تماشای ویدیو تا انتها</label>
</div><br />

        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Video Length | طول مدت ویدیو</label>
</div><br />

        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">Video Share Count | تعداد شیر شدن ویدیو</label>
</div><br />

    </div>
</section>

<div class="container text-center">
    <br /><br />
    <a href="/problem-solving/" class="btn btn-success" style="width: 25%; border-radius: 50px;">بعدی</a>
    <br /><br /><br />
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="/static/js/jquery.slim.min.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>