<!doctype html>
<!-- add direction (rtl/ltr) to html, its very important -->
<!-- html dir change the arya bootstrap alignment and direction -->
<html lang="fa" dir="rtl">
<head>
    

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KWJ28HLX');</script>
<!-- End Google Tag Manager -->
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.rtl.css" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />

<title>چاره جو</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWJ28HLX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="container-fluid">
    <a href=""><img src="/static/images/logo.png" class="img-fluid" width="300" style="padding: 35px;" alt="چاره جو"><br /><br /><br /></a>
</div>

<!-- Header -->
<section>

   <div class="container text-center">
       <div class="row">
           <div class="col-3" style="color: #3B5CCE;"><img src="/static/images/number1.png" /><b>ارزیابی</b></div>
           <div class="col-3"><img src="/static/images/number2.png" /><b>ثبت نام</b></div>
           <div class="col-3"><img src="/static/images/number3.png" /><b>کارنامه</b></div>
           <div class="col-3"><img src="/static/images/number4.png" /><b>نقشه راه</b></div>
        </div>
            <br />
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="48.5" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                </div>
            </div>
            <br />


   </div>

</section>

<!-- Discovery question -->
<section>
    <br /><br />
    <div class="container">

    <p><img src="https://www.freeiconspng.com/uploads/sign-warning-icon-png-7.png" width=35" /> دقت داشته باشید که برخی از سوالات ممکن است بیش از یک پاسخ صحیح داشته باشد.</p>
        </div>

    <br /><br /><br />

    <div class="container text-center" style="background-color: #FBFBFB">
       <strong> کشف محصول (Discovery)</strong>
    </div>
    <div class="container" style="background-color: #FBFBFB">
        <br /><br />
        <p style="color: #414141">سوال۱</p>
        <p style="color: #3B5CCE">کدام یک از ویژگی های زیر برای آزمایش نمونه اولیه برنامه اجاره دوچرخه برای گردشگران ضروری است؟</p>
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Real-time" name="Real-time" value="something">
  <label class="form-check-label">Real-time weather updates | بروزرسانی لحظه ای وضعیت آب و هوا</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">City tour guide | راهنمای گردشگری شهر</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Localization" name="Localization" value="something">
  <label class="form-check-label">Localization | بومی سازی</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Locate" name="Locate" value="something">
  <label class="form-check-label">Locate bikes nearby | یافتن دوچرخه های اطراف</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Bike" name="Bike" value="something">
  <label class="form-check-label">Bike type & Associated Cost | نوع دوچرخه و هزینه های جانبی</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Unlocking" name="Unlocking" value="something">
  <label class="form-check-label">Bike Unlocking & Trip Payment | فعال سازی دوچرخه و هزینه سفر</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Deposit" name="Deposit" value="something">
  <label class="form-check-label">Deposit Bike (Parking spots) | مشخص کردن نقطه پارک</label>
</div>
        <br /><br />
        <p style="color: #414141">سوال۲</p>
        <p style="color: #3B5CCE">سازمان غیرانتفاعی محک را تصور کنید که بازدیدکنندگان زیادی از آن بازدید می کنند. کمک های مالی در حال حاضر توسط بازدیدکنندگانی انجام می شود که به صندوق جمع آوری پول اهدا می کنند. شما باید به جای حالت فعلی که یک جعبه فیزیکی است، یک محصول راه اندازی کنید که با مجموعه ای مانند زرین پال کمک های بازدیدکنندگان را جمع آوری کند. کدام یک از این a/b تست های زیر معقول تر از بقیه است؟</p>
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">درگاه زرین پال را در وب سایت محک برای کمک های مالی آنلاین معرفی کنید.</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">برای دسترسی آسان، کدهای QR مرتبط با درگاه زرین پال را در مکان‌های برجسته در محوطه کلیسا قرار دهید.</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">تبلیغات آنلاین هدفمندی را اجرا کنید که راحتی و مزایای درگاه زرین پال را برای کمک های مالی محک ترویج می کند.</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">درگاه زرین پال را در طول رویدادها یا خدمات ویژه پیاده سازی کنید و آن را در بین شرکت کنندگان تبلیغ کنید.</label>
</div><br />
         <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">ایمیل‌های شخصی‌سازی‌شده را برای شرکت‌کنندگان معمولی کلیسا ارسال کنید و اطلاعات و دستورالعمل‌هایی در مورد نحوه استفاده از درگاه زرین پال برای کمک‌های مالی ارائه کنید.</label>
</div><br />
         <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">درگاه زرین پال را در برنامه های تلفن همراه پیاده سازی کنید تا کاربران بتوانند به راحتی از طریق تلفن های هوشمند خود کمک مالی کنند.</label>
</div><br />
         <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">کارکنان محک و داوطلبان را آموزش دهید تا فعالانه بازدیدکنندگان را در مورد مزایا و راحتی استفاده از درگاه زرین پال برای کمک‌های مالی تبلیغ و آموزش دهند.</label>
</div>

    </div>
</section>

<div class="container text-center">
    <br /><br />
    <a href="/market/" class="btn btn-success discovery" style="width: 25%; border-radius: 50px;">بعدی</a>
    <br /><br /><br />
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="/static/js/jquery.slim.min.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>