<!doctype html>
<!-- add direction (rtl/ltr) to html, its very important -->
<!-- html dir change the arya bootstrap alignment and direction -->
<html lang="fa" dir="rtl">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KWJ28HLX');</script>
<!-- End Google Tag Manager -->
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.rtl.css" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />

<title>چاره جو</title>

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWJ28HLX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="container-fluid">
    <a href=""><img src="/static/images/logo.png" class="img-fluid" width="300" style="padding: 35px;" alt="چاره جو"><br /><br /><br /></a>
</div>


<section>

   <div class="container text-center">
       <div class="row">
           <div class="col-3" style="color: #1D8841;"><img src="/static/images/submit.png" /><b>ارزیابی</b></div>
           <div class="col-3" style="color: #1D8841"><img src="/static/images/submit.png" /><b>ثبت نام</b></div>
           <div class="col-3" style="color: #3B5CCE"><img src="/static/images/number3blue.png" /><b>کارنامه</b></div>
           <div class="col-3"><img src="/static/images/number4.png" /><b>نقشه راه</b></div>
        </div>

   </div>

</section>
<!-- Header -->
<section>
<br /> <br /><br />
<div class="text-center">

    {% if request.user.job == 'علاقه مند یا دانشجو' %}
   <img src="/static/images/student.png" />
    {% endif %}

{% if request.user.job == 'دستیار مدیر محصول' %}
   <img src="/static/images/apm.png" />
    {% endif %}

{% if request.user.job == 'مدیر محصول' %}
   <img src="/static/images/pm.png" />
    {% endif %}

{% if request.user.job == 'مدیر محصول ارشد' %}
   <img src="/static/images/pmup.png" />
    {% endif %}
</div>

<br /><br />
    <div class="container">
        {% if request.user.job == 'علاقه مند یا دانشجو' %}
    <table class="table">
    <thead>
      <tr>
        <th>رتبه شما از میان 300 مدیر محصول ارزیابی شده تا این لحظه</th>
        <th>نوع شرکت متناسب با امتیاز شما</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>۲۶۸ از ۳۰۰</td>
        <td>شرکت های کوچک و کم توسعه</td>

      </tr>
    </tbody>
  </table>
            <p style="text-align: justify; color: red; font-weight: bold;">.این شرکت ها معمولاً تعداد کارکنان کمی دارند و در بازار محلی فعالیت می کنند. معمولاً استارتاپ هایی مانند استارتاپ های حل و نقل شهری در شهر های کوچک، توزیع غذای آنلاین ، نظافت منازل و... در این طبقه قرار می گیرند.</p>
        {% endif %}


    {% if request.user.job == 'دستیار مدیر محصول' %}
    <table class="table">
    <thead>
      <tr>
        <th>رتبه شما از میان 300 مدیر محصول ارزیابی شده تا این لحظه</th>
        <th>نوع شرکت متناسب با امتیاز شما</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>۲۲۵ از ۳۰۰</td>
        <td>شرکت های کوچک و همچنان در حال توسعه</td>

      </tr>
    </tbody>
  </table>
            <p style="text-align: justify; color: red; font-weight: bold;">این شرکت ها تعدادی بیشتری کارکنان دارند و ممکن است در بازار منطقه ای یا ملی فعالیت کنند. این شرکت ها معمولاً به تازگی شروع به کار کرده اند و در حال توسعه هستند. شرکت های فناوری نوین، شرکت های خدماتی، شرکت های تولیدی متوسط و شرکت های توزیعی در این دسته قرار می گیرند.</p>
        {% endif %}


    {% if request.user.job == 'مدیر محصول' %}
    <table class="table">
    <thead>
      <tr>
        <th>رتبه شما از میان 300 مدیر محصول ارزیابی شده تا این لحظه</th>
        <th>نوع شرکت متناسب با امتیاز شما</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>۱۶۹ از ۳۰۰</td>
        <td>شرکت های متوسط و پیشرفته</td>

      </tr>
    </tbody>
  </table>
            <p style="text-align: justify; color: red; font-weight: bold;">این شرکت ها به طور متوسط تعداد کارکنان بیشتری دارند و ممکن است در سطح ملی یا بین المللی فعالیت کنند. این شرکت ها در حال حاضر در بازارهای رقابتی فعالیت می کنند و قدرت رقابتی خوبی دارند. شرکت های تولیدی متوسط، شرکت های پخش و توزیع، شرکت های خدماتی و شرکت های فناوری در این دسته قرار می گیرند.</p>
        {% endif %}


     {% if request.user.job == 'مدیر محصول ارشد' %}
    <table class="table">
    <thead>
      <tr>
        <th>رتبه شما از میان 300 مدیر محصول ارزیابی شده تا این لحظه</th>
        <th>نوع شرکت متناسب با امتیاز شما</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>۱۱۵ از ۳۰۰</td>
        <td>شرکت های بزرگ و پیشرفته</td>

      </tr>
    </tbody>
  </table>
            <p style="text-align: justify; color: red; font-weight: bold;">این شرکت ها به طور معمول تعداد کارکنان بسیار زیادی دارند و در سطح بین المللی فعالیت می کنند. این شرکت ها اغلب در صنایع پیچیده و فن آوری های پیشرفته فعالیت می کنند. شرکت های فناوری بزرگ، شرکت های تولیدی صنعتی، شرکت های خدماتی بزرگ و شرکت های توزیعی بزرگ در این دسته قرار می گیرند.</p>
        {% endif %}






</div>
</section>







<div class="container text-center">
    <br /><br />
    <a href="/roadmap/" class="btn btn-success grade" style="width: 25%; border-radius: 50px;">بعدی</a>
    <br /><br /><br />
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="/static/js/jquery.slim.min.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

<script>
    // JS
var chart;
var player1 = 'James Harden HOU',
  player2 = 'Giannis Antetokounmpo MIL';
var palette = ['#3F51B5', '#00BCD4'];
var maxValues = {};
JSC.fetch('./resources/nba-players-stats.csv')
  .then(function(response) {
    return response.text();
  })
  .then(function(text) {
    var data = JSC.csv2Json(text);
    calculateMaxValues(data);
    chart = renderChart(data);
  })
  .catch(function(error) {
    console.error(error);
  });

function renderChart(data) {
  return JSC.chart('chartDiv', {
    type: 'radar area',
    legend_visible: false,
    animation_duration: 500,
    title_label: {
      text: 'NBA Player Comparison',
      style_fontSize: 17
    },
    palette: palette,
    yAxis: {
      alternateGridFill: 'none',
      scale_range: [0, 1],
      defaultTick_label_visible: false
    },
    xAxis_defaultTick: {
      line_visible: false,
      label_width: 80
    },
    defaultSeries_mouseTracking_enabled: false,
    defaultPoint_marker: {
      type: 'circle',
      outline_width: 0
    },
    series: makeSeries(data, player1, player2),
    toolbar_defaultItem_position: 'inside top',
    toolbar_items: {
      dropdown1: {
        type: 'select',
        value: player1,
        items: makePlayersArray(data).join(','),
        events_change: function(val) {
          player1 = val;
          var series = makeSeries(
            data,
            val,
            player2
          );
          chart.options({ series: series });
        },
        itemsBox_outline_width: 0,
        fill: palette[0],
        radius: 20,
        outline_width: 0,
        label_color: 'white',
        states_hover: {
          fill: palette[0],
          outline_width: 0
        },
        icon: {
          size: 12,
          name:
            'material/navigation/arrow-drop-down',
          fill: 'white',
          margin: 4
        }
      },
      label: {
        label_text: 'VS.',
        boxVisible: false,
        margin: 4
      },
      dropdown2: {
        type: 'select',
        value: player2,
        items: makePlayersArray(data).join(','),
        events_change: function(val) {
          player2 = val;
          var series = makeSeries(
            data,
            player1,
            val
          );
          chart.options({ series: series });
        },
        itemsBox_outline_width: 0,
        fill: palette[1],
        radius: 20,
        outline_width: 0,
        label_color: 'white',
        states_hover: {
          fill: palette[1],
          outline_width: 0
        },
        icon: {
          size: 12,
          name:
            'material/navigation/arrow-drop-down',
          fill: 'white',
          margin: 4
        }
      }
    }
  });
}

function makeSeries(data, player1, player2) {
  var player1Data = data.filter(function(x) {
    return x.Player + ' ' + x.Tm === player1;
  })[0];
  var player2Data = data.filter(function(x) {
    return x.Player + ' ' + x.Tm === player2;
  })[0];
  return [
    {
      name: player1,
      id: 'Player 1',
      shape_fill: ['#B0BEC5', 0.5],
      points: [
        {
          name: makeTicks(
            player1Data,
            player2Data,
            'Points'
          ),
          y: normalizeValue(
            player1Data,
            'Points'
          ),
          id: 'Points1'
        },
        {
          name: makeTicks(
            player1Data,
            player2Data,
            'Rebounds'
          ),
          y: normalizeValue(
            player1Data,
            'Rebounds'
          ),
          id: 'Rebounds1'
        },
        {
          name: makeTicks(
            player1Data,
            player2Data,
            'Assists'
          ),
          y: normalizeValue(
            player1Data,
            'Assists'
          ),
          id: 'Assists1'
        },
        {
          name: makeTicks(
            player1Data,
            player2Data,
            'Field Goal'
          ),
          y: normalizeValue(
            player1Data,
            'Field Goal'
          ),
          id: 'Field Goal1'
        },
        {
          name: makeTicks(
            player1Data,
            player2Data,
            '3-Point FG'
          ),
          y: normalizeValue(
            player1Data,
            '3-Point FG'
          ),
          id: '3-Point FG1'
        }
      ]
    },
    {
      name: player2,
      id: 'Player 2',
      shape_fill: ['#B0BEC5', 0.5],
      points: [
        {
          name: makeTicks(
            player1Data,
            player2Data,
            'Points'
          ),
          y: normalizeValue(
            player2Data,
            'Points'
          ),
          id: 'Points2'
        },
        {
          name: makeTicks(
            player1Data,
            player2Data,
            'Rebounds'
          ),
          y: normalizeValue(
            player2Data,
            'Rebounds'
          ),
          id: 'Rebounds2'
        },
        {
          name: makeTicks(
            player1Data,
            player2Data,
            'Assists'
          ),
          y: normalizeValue(
            player2Data,
            'Assists'
          ),
          id: 'Assists2'
        },
        {
          name: makeTicks(
            player1Data,
            player2Data,
            'Field Goal'
          ),
          y: normalizeValue(
            player2Data,
            'Field Goal'
          ),
          id: 'Field Goal2'
        },
        {
          name: makeTicks(
            player1Data,
            player2Data,
            '3-Point FG'
          ),
          y: normalizeValue(
            player2Data,
            '3-Point FG'
          ),
          id: '3-Point FG2'
        }
      ]
    }
  ];
}
function normalizeValue(data, value) {
  return data[value] / maxValues[value];
}
function makeTicks(
  player1Data,
  player2Data,
  type
) {
  return (
    '<span style="color:' +
    palette[0] +
    '; font-size:14px"><b>' +
    player1Data[type] +
    '</b></span><span style="color:#E0E0E0; width:8px; align:center">/</span>' +
    '<span style="color:' +
    palette[1] +
    '; font-size:14px"><b>' +
    player2Data[type] +
    '</b></span><br><span style="color:#424242">' +
    type +
    '</span>'
  );
}

function makePlayersArray(data) {
  return data.map(function(a) {
    return a.Player + ' ' + a.Tm;
  });
}
function calculateMaxValues(data) {
  'Points,Rebounds,Assists,Field Goal,3-Point FG'
    .split(',')
    .map(function(n) {
      maxValues[n] = JSC.max(data, n);
    });
}
</script>

</body>
</html>