<!doctype html>
<!-- add direction (rtl/ltr) to html, its very important -->
<!-- html dir change the arya bootstrap alignment and direction -->
<html lang="fa" dir="rtl">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KWJ28HLX');</script>
<!-- End Google Tag Manager -->
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.rtl.css" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />

<title>چاره جو</title>
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWJ28HLX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="container-fluid">
    <a href=""><img src="/static/images/logo.png" class="img-fluid" width="300" style="padding: 35px;" alt="چاره جو"><br /><br /><br /></a>
</div>

<!-- Header -->
<section>

   <div class="container text-center">
       <div class="row">
           <div class="col-3" style="color: #3B5CCE;"><img src="/static/images/number1.png" /><b>ارزیابی</b></div>
           <div class="col-3"><img src="/static/images/number2.png" /><b>ثبت نام</b></div>
           <div class="col-3"><img src="/static/images/number3.png" /><b>کارنامه</b></div>
           <div class="col-3"><img src="/static/images/number4.png" /><b>نقشه راه</b></div>
        </div>
            <br />
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:5%">
                </div>
            </div>
            <br />

   </div>

</section>

<!-- Discovery question -->
<section>
    <br /><br />
    <div class="container">

    <p><img src="https://www.freeiconspng.com/uploads/sign-warning-icon-png-7.png" width=35" /> دقت داشته باشید که این سوال تنها یک پاسخ صحیح دارد.</p>
        </div>

    <br /><br /><br />

    <div class="container text-center" style="background-color: #FBFBFB">
       <strong> بازار (Market)</strong>
    </div>
    <div class="container" style="background-color: #FBFBFB">
        <br /><br />
        <p style="color: #414141">سوال۱</p>
        <p style="color: #3B5CCE">مجموع گیت های پرداخت فروشگاه های شهروند تهران چند عدد است ؟ </p>

       <div class="row">
           <table class="table table-hover">
               <br /><br />
                <h6>اطلاعات موردنیاز در مورد سوال</h6>
    <br /><br /><br /><br />

    <tbody>
      <tr>
        <td>تعداد فروشگاههای شهروند در سطح شهر تهران : ۳۵</td>
        <td>تعداد مراجعه کنندگان در ساعت: ۲۵۰ نفر</td>
          <td>تعداد خرید سبد سفارش در ساعت: ۱۵۰</td>
      </tr>
      <tr>
        <td>تعداد کارکنان فروشگاه : ۱۵۰۰</td>
        <td>ساعت کاری فروشگاهها : ۱۲ ساعت</td>
          <td>مدت زمان ایده آل ثبت کالا در هر گیت: ۲۰ ثانیه</td>
      </tr>
      <tr>
        <td>تعداد روزهای کاری : ۲۶</td>
        <td>تعداد مراجعه کنندگانی که خرید نمی کنند در ساعت.۱۵۰ نفر</td>
          <td>متوسط تعداد کالای خریداری شده در ساعت ۱۰قلم تراکم منطقه (شمال:۰.۱  جنوب:۰.۶  شرق:۰.۴  غرب: ۰.۲ )</td>
      </tr>
    </tbody>
  </table>

</div>
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Real-time" name="Real-time" value="something">
  <label class="form-check-label">۳۵۰</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="City" name="City" value="something">
  <label class="form-check-label">۱۷۵</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Localization" name="Localization" value="something">
  <label class="form-check-label">۱۹۵</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Locate" name="Locate" value="something">
  <label class="form-check-label">۳۸۵</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Bike" name="Bike" value="something">
  <label class="form-check-label">۴۲۰</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Unlocking" name="Unlocking" value="something">
  <label class="form-check-label">۲۸۰</label>
</div><br />
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="Deposit" name="Deposit" value="something">
  <label class="form-check-label">۲۱۰</label>
</div>

    </div>
</section>

<div class="container text-center">
    <br /><br />
    <a href="/develop-and-launch/" class="btn btn-success" style="width: 25%; border-radius: 50px;">بعدی</a>
    <br /><br /><br />
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="/static/js/jquery.slim.min.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>