<!doctype html>
<!-- add direction (rtl/ltr) to html, its very important -->
<!-- html dir change the arya bootstrap alignment and direction -->
<html lang="fa" dir="rtl">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.rtl.css" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />

<title>چاره جو</title>
</head>
<body>


<div class="text-center">
    <img src="/static/images/logo.png" class="img-fluid img-thumbnail" alt="چاره جو">
</div>

<!-- Header -->
<section>

   <div class="container text-center">
       <div class="row">
           <div class="col-3" style="color: #1D8841;"><img src="/static/images/submit.png" /><b>ارزیابی</b></div>
           <div class="col-3" style="color: #3B5CCE"><img src="/static/images/number2blue.png" /><b>ثبت نام</b></div>
           <div class="col-3"><img src="/static/images/number3.png" /><b>کارنامه</b></div>
           <div class="col-3"><img src="/static/images/number4.png" /><b>نقشه راه</b></div>
        </div>

   </div>

</section>

<!-- Discovery question -->
<section>

        <br /><br />
    <div class="container text-center">

        <input class="form-control" type="text" placeholder="نام" required><br />
        <input class="form-control" type="text" placeholder="نام خانوادگی" required><br />
        <input class="form-control" type="number" placeholder="موبایل" required><br />
        <input class="form-control" type="email" placeholder="ایمیل" required><br />
        <div class="dropdown show">
  <button class="form-control" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <p style="text-align: right">
       <img src="/static/images/dropdown.png">&nbsp;
       موقعیت شغلی</p>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item">1</a>
    <a class="dropdown-item">2</a>
    <a class="dropdown-item">3</a>
  </div>
</div><br />
        <div class="dropdown show">
  <button class="form-control" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <p style="text-align: right">
       <img src="/static/images/dropdown.png">&nbsp;
       تحصیلات</p>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item">1</a>
    <a class="dropdown-item">2</a>
    <a class="dropdown-item">3</a>
  </div>
</div><br />
        <div class="dropdown show">
  <button class="form-control" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <p style="text-align: right">
       <img src="/static/images/dropdown.png">&nbsp;
       سابقه کار</p>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item">1</a>
    <a class="dropdown-item">2</a>
    <a class="dropdown-item">3</a>
  </div>
</div>

    </div>

</section>

<div class="container text-center">
    <br /><br />
    <a class="btn btn-success" style="width: 25%; border-radius: 50px;">بعدی</a>
    <br /><br /><br />
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="/static/js/jquery.slim.min.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>