<!doctype html>
<!-- add direction (rtl/ltr) to html, its very important -->
<!-- html dir change the arya bootstrap alignment and direction -->
<html lang="fa" dir="rtl">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KWJ28HLX');</script>
<!-- End Google Tag Manager -->
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.rtl.css" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />

<title>چاره جو</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWJ28HLX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="container-fluid">
    <a href=""><img src="/static/images/logo.png" class="img-fluid" width="300" style="padding: 35px;" alt="چاره جو"><br /><br /><br /></a>
</div>

<!-- Header -->
<section>

   <div class="container text-center">
       <div class="row">
           <div class="col-3" style="color: #1D8841;"><img src="/static/images/submit.png" /><b>ارزیابی</b></div>
           <div class="col-3" style="color: #1D8841"><img src="/static/images/submit.png" /><b>ثبت نام</b></div>
           <div class="col-3" style="color: #1D8841"><img src="/static/images/submit.png" /><b>کارنامه</b></div>
           <div class="col-3"><img src="/static/images/number4.png" /><b>نقشه راه</b></div>
        </div>

   </div>

</section>

<!-- Discovery question -->
<section>

        <br /><br />
    <div class="container text-center">
  <div class="row">
      <div class="col-lg-6">
<div class="card" style="border-radius: 20px;">
  <h6 style="background-color: #2993FF; height: 80px; color: white;">یک ماهه</h6>
    <img src="/static/images/circleblue.png" width="100" height="100" style="margin-top: -50px; margin-right: auto; margin-left: auto;"/>

  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>

  <p><a class="btn btn-success" style="width: 25%; border-radius: 50px;">خرید</a></p>
</div>
      </div>

          <div class="col-lg-6">
<div class="card" style="border-radius: 20px;">
  <h6 style="background-color: #2993FF; height: 80px; color: white;">یک ماهه</h6>
    <img src="/static/images/circleblue.png" width="100" height="100" style="margin-top: -50px; margin-right: auto; margin-left: auto;"/>

  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>

  <p><a class="btn btn-success" style="width: 25%; border-radius: 50px;">خرید</a></p>
</div>
      </div>
          <div class="col-lg-6" style="margin-top: 20px;">
<div class="card" style="border-radius: 20px;">
  <h6 style="background-color: #2993FF; height: 80px; color: white;">یک ماهه</h6>
    <img src="/static/images/circleblue.png" width="100" height="100" style="margin-top: -50px; margin-right: auto; margin-left: auto;"/>

  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>

  <p><a class="btn btn-success" style="width: 25%; border-radius: 50px;">خرید</a></p>
</div>
      </div>
          <div class="col-lg-6" style="margin-top: 20px;">
<div class="card" style="border-radius: 20px;">
  <h6 style="background-color: #2993FF; height: 80px; color: white;">یک ماهه</h6>
    <img src="/static/images/circleblue.png" width="100" height="100" style="margin-top: -50px; margin-right: auto; margin-left: auto;"/>

  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>
  <p style="padding: 2px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، <img style="float: right; padding: 5px;" src="/static/images/submit.png" /></p>

  <p><a class="btn btn-success" style="width: 25%; border-radius: 50px;">خرید</a></p>
</div>
      </div>


    </div>

</section>





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="/static/js/jquery.slim.min.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>