<!doctype html>
<!-- add direction (rtl/ltr) to html, its very important -->
<!-- html dir change the arya bootstrap alignment and direction -->
<html lang="fa" dir="rtl">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.rtl.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<title>چاره جو</title>

</head>
<body>

<div class="container-fluid">
    <a href=""><img src="/static/images/logo.png" class="img-fluid" width="300" style="padding: 35px;" alt="چاره جو"><br /><br /><br /></a>
</div>


 {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    text: '{{ message }}',
                    width: 500,
                    backdrop: `rgba(255, 99, 71, 0.2) no-repeat`,
                    confirmButtonText: 'متوجه شدم',
                    confirmButtonColor: 'green',
                    showCancelButton: false,
                })
            </script>
        {% endfor %}
    {% endif %}

<!-- Header -->
<section>

   <div class="container text-center">
       <div class="row">
           <div class="col-3" style="color: #1D8841;"><img src="/static/images/submit.png" /><b>ارزیابی</b></div>
           <div class="col-3" style="color: #1D8841"><img src="/static/images/submit.png" /><b>ثبت نام</b></div>
           <div class="col-3" style="color: #1D8841"><img src="/static/images/submit.png" /><b>کارنامه</b></div>
           <div class="col-3"><img src="/static/images/number4.png" /><b>نقشه راه</b></div>
        </div>

   </div>

</section>

<!-- Discovery question -->
<section>

        <br /><br />
    <div class="container text-center">
  <div class="container text-left">
    <div class="row">
      <!-- Free Tier -->

      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">پکیج رایگان</h5>
            <h6 class="card-price text-center"><span class="period">ماهانه</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>چالش های واقعی کسب وکارها</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>راه حل های ارائه شده</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>نقشه راه جونیور به سنیور</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>گفتگو های تخصصی</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>دوره های آموزشی تخصصی</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>منتورشیپ</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>پشتیبانی تکالیف</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>شرکت در چالش های سازمانی</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>پیشنهاد فرصت های شغلی اختصاصی</li>
            </ul>

        <form action="/roadmap/" method="post" id="myform">
            {% csrf_token %}
            <div class="d-grid text-center">
           <button style="width: 50%; border-radius: 50px;" class="btn btn-primary text-uppercase plan-free" type="submit" name="free_button">خرید</button>
{#              <a href="#" class="btn btn-primary text-uppercase plan-free">خرید</a>#}
            </div>
             </form>


          </div>
        </div>
      </div>

      <!-- Plus Tier -->
     <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Jonior</h5>
            <h6 class="card-price text-center"><span class="period">ماهانه</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>چالش های واقعی کسب وکارها</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>راه حل های ارائه شده</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>نقشه راه جونیور به سنیور</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>گفتگو های تخصصی</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>دوره های آموزشی تخصصی</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>منتورشیپ</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>پشتیبانی تکالیف</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>شرکت در چالش های سازمانی</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>پیشنهاد فرصت های شغلی اختصاصی</li>
            </ul>

        <form action="/roadmap/" method="post" id="moghadamati">
            {% csrf_token %}
            <div class="d-grid text-center">
        <button style="width: 50%; border-radius: 50px;" class="btn btn-primary text-uppercase plan-jonior" type="submit" name="moghadamati_button">خرید</button>
{#              <a href="#" class="btn btn-primary text-uppercase plan-free">خرید</a>#}
            </div>
             </form>


          </div>
        </div>
      </div>
      <!-- Pro Tier -->
     <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Senior</h5>
            <h6 class="card-price text-center"><span class="period">ماهانه</span></h6>
            <hr>
            <ul class="fa-ul">
             <li><span class="fa-li"><i class="fas fa-check"></i></span>چالش های واقعی کسب وکارها</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>راه حل های ارائه شده</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>نقشه راه سنیور به اکسپرت</li>
             <li><span class="fa-li"><i class="fas fa-check"></i></span>گفتگو های تخصصی</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>دوره های آموزشی تخصصی</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>منتورشیپ</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>پشتیبانی تکالیف</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>شرکت در چالش های سازمانی</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>پیشنهاد فرصت های شغلی اختصاصی</li>
            </ul>

        <form action="/roadmap/" method="post" id="takmili">
            {% csrf_token %}
            <div class="d-grid text-center">
               <button style="width: 50%; border-radius: 50px;" class="btn btn-primary text-uppercase plan-senior" type="submit" name="takmili_button">خرید</button>
{#              <a href="#" class="btn btn-primary text-uppercase plan-free">خرید</a>#}
            </div>
             </form>

          </div>
        </div>
          <br /><br />
      </div>

          <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Expert</h5>
            <h6 class="card-price text-center"><span class="period">ماهانه</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>چالش های واقعی کسب وکارها</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>راه حل های ارائه شده</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>نقشه راه اکسپرت به مستر</li>
             <li><span class="fa-li"><i class="fas fa-check"></i></span>گفتگو های تخصصی</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>دوره های آموزشی تخصصی</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>منتورشیپ</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>پشتیبانی تکالیف</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>شرکت در چالش های سازمانی</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>پیشنهاد فرصت های شغلی اختصاصی</li>
            </ul>

        <form action="" method="post" id="pro">
            {% csrf_token %}
            <div class="d-grid text-center">

        <button style="width: 50%; border-radius: 50px;" class="btn btn-primary text-uppercase plan-expert" type="submit" name="pro_button">خرید</button>
{#              <a href="#" class="btn btn-primary text-uppercase plan-free">خرید</a>#}
  </div>

             </form>

        </div>
      </div>
    </div>
  </div>

</section>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="/static/js/jquery.slim.min.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>